[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/jupyter-notebook
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
