[Unit]
Description=Desktop-Bridge: Protonmail Bridge - ProtonMail IMAP and SMTP Bridge
BindsTo=mbsync.service

[Service]
Type=simple
Environment=PASSWORD_STORE_DIR=/home/b/.password-store
Environment=GNUPGHOME=/home/b/sync/gnupghome
ExecStart=/usr/bin/protonmail-bridge --noninteractive
KillMode=process

# The following is an alternative way to run the bridge in interactive cli mode encapsulated within a named screen session.
# Can be added to bridge.service
# ExecStart=/usr/bin/screen -Dm -S bridgedaemon sh -c "sleep 5; protonmail-bridge -c"
# ExecStop=/usr/bin/screen -X -S bridgedaemon quit

[Install]
WantedBy=default.target
