.gitsecret/keys/random_seed
!*.secret
.config/i3/i3lock-wallpaper.png
.config/i3/lock.sh
.config/i3/startup.sh
.config/i3/workspace-1.json
.config/i3blocks/github-notifications
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/urls
.config/qutebrowser/config.py
.config/qutebrowser/quickmarks
.thunderbird-qmul-signature.html
.config/msmtp/config
.mbsyncrc
.config/vdirsyncer/config
.sup/config.yaml
.sup/sources.yaml
.config/i3/config
.qmul_signature
.mailcheckrc
.config/khal/config
.config/khard/khard.conf
