[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pushall = !git remote | xargs -I {} git push {}
    cm = commit -m 
    ce = commit -m \"\" --allow-empty-message
    ca = commit --amend --no-edit --allow-empty-message
    yfd = !yadm fetch && yadm decrypt
    yea = !yadm encrypt && yadm add ~/.local/share/yadm/archive
    yce = !yadm yea && yadm ce
    yca = !yadm yea && yadm ca
    s = status
    pa = pushall
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; FILTER_BRANCH_SQUELCH_WARNING=1 git filter-branch -f --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[credential]
	helper = store
[mergetool "gitblade"]
	cmd = \"/usr/lib/gitblade/gitblade\" -c \"\"
	trustExitCode = true
[user]
	name = Benjamin Higgins
	email = mail@brhiggins.com
[merge]
	tool = meld
[diff]
	tool = meld
[pull]
	ff = only
[fetch]
	prune = true
[gui]
	recentrepo = /home/b/projects/effb-deliveries
[init]
	defaultBranch = main
